<h1>Cat Diet Tracker</h1>

<div class="container card">
    <div class="row">
        <div class="col-md-8">
            {{#each cats}}
            <h2 class="cat-name">{{this.cat_name}} (cat_id: {{this.cat_id}})</h2>
            {{/each}}
            {{#each cats}}
            <h3>Date Range:</h3>
            {{/each}}
        </div>

        <div class="col-md-4">
          {{#each cats}}
            <h2 id="cat-location">Room {{this.cat_location_room}} <hr> Kennel {{this.cat_location_kennel}}</h2>
          {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span id="date-selector">
            {{#each cats}}    
                <form class="update-calendar-view" data-id="{{this.cat_id}}">
                    Date Selector: <input type="text" id="datepicker" />
                    <button type="submit">Update Weekly View</button>
                </form>
            {{/each}}
            </span>
        </div>
        <div class="col-md-6">
            <span id="meal-selector">
                {{#each cats}}
                <form class="feed-cat" data-id="{{this.cat_id}}" id="{{this.cat_id}}" name="meal-item-{{this.cat_id}}">
                {{/each}}
                <p>Current Meal Selection:
                    <select id="meal-content-item-selection">
                    {{#each meal_items}}
                        <option value="{{this.meal_content_item_id}}">{{this.meal_content_item_description}}</option>
                    {{/each}}
                    </select>
                    {{#each cats}}
                    <button type="submit">Feed {{this.cat_name}}</button>
                    {{/each}}
                </p>
                </form>
            </span>
        </div>
    </div>

    <!-- Headings: Days of Week -->
    <div class="row">
        <div class="col">
            <h2>Sun</h2>
        </div>
        <div class="col">
            <h2>Mon</h2>
        </div>
        <div class="col">
            <h2>Tue</h2>
        </div>
        <div class="col">
            <h2>Wed</h2>
        </div>
        <div class="col">
            <h2>Thur</h2>
        </div>
        <div class="col">
            <h2>Fri</h2>
        </div>
        <div class="col">
            <h2>Sat</h2>
        </div>
    </div>

    <!-- Data: Meal Data-->
    <div class="row">
        <div class="col">
            <span> {{#each meals_Sun}}
                Food offered:  {{this.meal_content_description}} <br>
                Meal score:  {{this.meal_content_consumed}}

                {{> meal_contents/meal_contents_block}}
                {{/each}}</span>
        </div>
        <div class="col">
            <span> {{#each meals_Mon}}

               Food offered:   {{this.meal_content_description}} <br>
                Meal score:  {{this.meal_content_consumed}}

                {{> meal_contents/meal_contents_block}}
                {{/each}}</span>
        </div>
        <div class="col">
            <span> {{#each meals_Tue}}

                Food offered:  {{this.meal_content_description}} <br>
                Meal score:  {{this.meal_content_consumed}}

                {{> meal_contents/meal_contents_block}}
                {{/each}}</span>
        </div>
        <div class="col">
            <span> {{#each meals_Wed}}

                Food offered:  {{this.meal_content_description}} <br>
                Meal score:  {{this.meal_content_consumed}}

                {{> meal_contents/meal_contents_block}}
                {{/each}}</span>
        </div>
        <div class="col">
            <span> {{#each meals_Thu}}

                Food offered:  {{this.meal_content_description}} <br>
                Meal score:  {{this.meal_content_consumed}}

                {{> meal_contents/meal_contents_block}}
                {{/each}}</span>
        </div>
        <div class="col">
            <span> {{#each meals_Fri}}

                Food offered:  {{this.meal_content_description}} <br>
                Meal score:  {{this.meal_content_consumed}}

                {{> meal_contents/meal_contents_block}}
                {{/each}}</span>
        </div>
        <div class="col">
            <span> {{#each meals_Sat}}

                Food offered:   {{this.meal_content_description}} <br>
                Meal score:   {{this.meal_content_consumed}}

                {{> meal_contents/meal_contents_block}}
                {{/each}}</span>
        </div>
    </div>

</div>

<script src="/assets/js/datepicker.min.js"></script>
