<li>Meal Data:
	<br>meal_id: {{meal_id}}
	<br>meal_date_time: {{meal_date_time}} 
    <br>meal_content_description: {{meal_content_description}}
	<br>
	<button class="update-data" data-id="{{meal_id}}">select-update</button> 
<!--
	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
-->
	<button class="check-in-check-out" data-id="{{this.meal_id}}">check-in-check-out</button>
</li>
