<li>Cat Data:
	<br>id: {{cat_id}}
	<br>name: {{cat_name}} 
	<br>starting weight: {{cat_starting_weight}}
	<br>alert flag: {{cat_alert_flag}}
	<br>notes: {{cat_notes}}
	<br>
	<!-- <button class="update-data" data-id="{{cat_id}}">select-update</button> -->
</li>
